- description "Consistently brilliant tech talent"
- title "Testimonials"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader consistently brilliant
      %h1 tech talent
      %p We find incredible people and give them an intensive, world-class training in modern software development.
      %p Then we work closely with you to attract, discover and hire the best match.

%section
  .container
    .centered-row
      %h3 No more bad candidates
    .three-width-row
      .column
        %h5 Selection
        %p Something about the selection process in a sentence that sounds good. Something about the selection process in a sentence that sounds good.
      .column
        %h5 Training
        %p Another thing about the training they get and how amazing it is. Another thing about the training they get and how amazing it is.
      .column
        %h5 Experience
        %p This last thing here about them being commercially experienced. This last thing here about them being commercially experienced.
    .centered-row
    .two-width-row
      .column
        %blockquote Makers Academy gives us people who are consistently high-calibre, work-ready and who bring a breadth of life experience and innovative ways of thinking. They're not your typical CS grad.
        %h4.subheader ThoughtWorks
      .column
        %blockquote Makers Academy graduates have set the benchmark at GDS. When we score applicants, your graduates always score higher than other candidates.
        %h4.subheader Government Digital Service

%section.backgrounded
  .container
    .centered-row
      %h3 Diversity
    .three-width-row.row-with-borders
      .column
        %h2.statistic 35%
        %h4.subheader Female Engineers
      .column
        %h2.statistic 18-64
        %h4.subheader Age Range
      .column
        %h2.statistic Huge
        %h4.subheader Variety of Commercial Backgrounds

%section
  .container
    .centered-row
      %h3 They won't slow you down
    .three-width-row
      .column
        %h5 Independent
        %p Look at how they can do things by themselves; especially problems. Look at how they can do things by themselves; especially problems.
      .column
        %h5 Mindset
        %p They think about things the same way you do, unlike university grads. They think about things the same way you do, unlike university grads.
      .column
        %h5 Passion
        %p They've given up higher paid jobs to come and work for you - they care. They've given up higher paid jobs to come and work for you - they care.
    .centered-row
    .two-width-row
      .column
        %blockquote Their ability to organise, cooperate and just get things done is something you don’t see in most seniors, let alone juniors.
        %h4.subheader FNZ
      .column
        %blockquote The people we hired have been awesome. We thought we'd need more resource alongside them, but that hasn't been the case: they're just so good!
        %h4.subheader Qubit

%section.backgrounded
  .container
    .centered-row
      %h3 Reliability
    .three-width-row.row-with-borders
      .column
        %h2.statistic 30
        %h4.subheader developers every 6 weeks
      .column
        %h2.statistic 0
        %h4.subheader notice period
      .column
        %h2.statistic 5
        %h4.subheader countries

%section
  .container
    .centered-row
      %h3 Anti-Problem Statement
    .three-width-row
      .column
        %h5 Solution
        %p Sentence that goes into more detail about the solution to the problem. Sentence that goes into more detail about the solution to the problem.
      .column
        %h5 Solution
        %p Sentence that goes into more detail about the solution to the problem. Sentence that goes into more detail about the solution to the problem.
      .column
        %h5 Solution
        %p Sentence that goes into more detail about the solution to the problem. Sentence that goes into more detail about the solution to the problem.
    .centered-row
    .two-width-row
      .column
        %blockquote Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
        %h4.subheader Company
      .column
        %blockquote Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.
        %h4.subheader Company

%section.backgrounded
  .container
    .centered-row
      %h3 Attractive Concept
    .three-width-row.row-with-borders
      .column
        %h2.statistic 10
        %h4.subheader things that justify
      .column
        %h2.statistic 5
        %h4.subheader other
      .column
        %h2.statistic <30
        %h4.subheader numbers